<section class="chart">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="img-box">
          <img
            src="../../assets/images/chart-img.png"
            alt="img"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-6 text-box">
        <h4>Keep your data up-to-date with charts linked to Excel</h4>
        <p>Bring your data to life with Excel charts.</p>
        <button class="btn access-btn" type="submit">
          Get Access
          <span
            ><img src="../../assets/icons/arrow-right.svg" alt="icon"
          /></span>
        </button>
      </div>
    </div>
  </div>
</section>
