<section class="faq">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="sec-title text-dark mb-5 fw-bold">
        Frequently Asked Questions
      </h2>
    </div>
    <div class="accordion-list">
      <div class="row">
        <div class="col-xl-12">
          <div class="accordion d-xl-flex gap-4" id="accordionExample">
            <div class="w-100">
              <div class="accordion-item border-0 border-0">
                <h2 class="accordion-header border-0 border-0" id="headingOne">
                  <button
                    class="accordion-button fs-16 fw-bold text-dark bg-transparent border-0 py-4 fs-16 fw-bold text-dark bg-transparent border-0 py-4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    How do I get started?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    This is a one-time payment. No monthly/annually membership.
                    With your investment, you'll be getting ALL our current
                    products plus periodical updates free of charge!
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h2 class="accordion-header border-0" id="headingTwo">
                  <button
                    class="accordion-button fs-16 fw-bold text-dark bg-transparent border-0 py-4 collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Is this a membership or subscription service?
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    This is a one-time payment. No monthly/annually membership.
                    With your investment, you'll be getting ALL our current
                    products plus periodical updates free of charge!
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h2 class="accordion-header border-0" id="headingThree">
                  <button
                    class="accordion-button fs-16 fw-bold text-dark bg-transparent border-0 py-4 collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Accordion Item #3
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    This is a one-time payment. No monthly/annually membership.
                    With your investment, you'll be getting ALL our current
                    products plus periodical updates free of charge!
                  </div>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="accordion-item border-0 border-0">
                <h2 class="accordion-header border-0 border-0" id="heading4">
                  <button
                    class="accordion-button fs-16 fw-bold text-dark bg-transparent border-0 py-4 fs-16 fw-bold text-dark bg-transparent border-0 py-4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse4"
                    aria-expanded="true"
                    aria-controls="collapse4"
                  >
                    How do I get started?
                  </button>
                </h2>
                <div
                  id="collapse4"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading4"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    This is a one-time payment. No monthly/annually membership.
                    With your investment, you'll be getting ALL our current
                    products plus periodical updates free of charge!
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h2 class="accordion-header border-0" id="heading5">
                  <button
                    class="accordion-button fs-16 fw-bold text-dark bg-transparent border-0 py-4 collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse5"
                    aria-expanded="false"
                    aria-controls="collapse5"
                  >
                    Is this a membership or subscription service?
                  </button>
                </h2>
                <div
                  id="collapse5"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading5"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    This is a one-time payment. No monthly/annually membership.
                    With your investment, you'll be getting ALL our current
                    products plus periodical updates free of charge!
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h2 class="accordion-header border-0" id="heading6">
                  <button
                    class="accordion-button fs-16 fw-bold text-dark bg-transparent border-0 py-4 collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse6"
                    aria-expanded="false"
                    aria-controls="collapse6"
                  >
                    Accordion Item #3
                  </button>
                </h2>
                <div
                  id="collapse6"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading6"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    This is a one-time payment. No monthly/annually membership.
                    With your investment, you'll be getting ALL our current
                    products plus periodical updates free of charge!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
