<section class="category">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>
          Choose from Thousands of Stunning Visuals in
          <span class="yellow-text">80+ Categories</span>
        </h2>
        <div class="btn-box">
          <a href="#" class="category-btn">Project Management</a>
          <a href="#" class="category-btn">Add-Ons</a>
          <a href="#" class="category-btn">Roadmap</a>
          <a href="#" class="category-btn">Project Management</a>
          <a href="#" class="category-btn">Fishbones</a>
          <a href="#" class="category-btn">e-Learning</a>
          <a href="#" class="more-btn yellow-text">+ 74 More</a>
        </div>
        <p>
          Make your presentation different with modern, customizable, and
          attention-grabbing visuals.
        </p>
        <button class="btn access-btn" type="submit">
          Get Access
          <span
            ><img src="../../assets/icons/arrow-right.svg" alt="icon"
          /></span>
        </button>
      </div>
    </div>
  </div>
  <div class="img-box overlay">
    <img
      src="../../assets/images/categories-bg.png"
      alt="img"
      class="img-fluid"
    />
  </div>
</section>
