<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-area">
          <h1>
            Finish your Next Presentation <br />
            in Record Time!
          </h1>
          <p>
            Download and Customize 3500+ Premium Infographics and 64000+ icon.
            No graphic skills required. No monthly fees. No stress.
          </p>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search by keyword" />
          <button class="btn search-btn" type="submit">
            <span
              ><img src="../../assets/icons/search-normal.png" alt="icon"
            /></span>
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
