<section
  class="newsletter"
  style="background-image: url('../../assets/images/newsletter-bg.png')"
>
  <div class="container">
    <div class="col-xl-6">
      <div class="section-header">
        <h2 class="sec-title text-white mb-4 pb-2">
          Ready to Step Up your Presentation?
        </h2>
        <button class="btn access-btn" type="submit" style="width: 196px">
          Get Access Now
          <span
            ><img src="../../assets/icons/arrow-right.svg" alt="icon"
          /></span>
        </button>
      </div>
    </div>
  </div>
</section>
