<section class="howItWorks-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section text-center">
          <h2>How It Works</h2>
          <p>
            Make your presentation different with modern, customizable, and
            <br />
            attention-grabbing visuals.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="howItWorks-item mt-lg-5 mt-md-4">
          <img src="../../assets/images/download.svg" alt="img" />
          <h4>Download</h4>
          <p>
            You will receive a link in your inbox. You can also create an
            account.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="howItWorks-item upItem">
          <img src="../../assets/images/customize.svg" alt="img" />
          <h4>Customize</h4>
          <p>
            Choose your favorite app, PowerPoint, Keynote, or Google Slides.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="howItWorks-item mt-lg-5 mt-md-4">
          <img src="../../assets/images/shine.svg" alt="img" />
          <h4>Shine</h4>
          <p>Impress your audience with eye-captivating slides.</p>
        </div>
      </div>
    </div>
  </div>
</section>
