<section class="vision">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-box mb-md-4">
          <h3>
            Everything you need to create a professional
            <span class="blue-text">presentation</span> now in one place
          </h3>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that.
          </p>
          <button class="btn access-btn" type="submit">
            Get Access
            <span
              ><img src="../../assets/icons/arrow-right.svg" alt="icon"
            /></span>
          </button>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="vision-card">
              <img src="../../assets/icons/vision-icon-1.png" alt="icon" />
              <h5>Save Countless Hours In Graphic Design</h5>
              <p>
                Spend more time on the things that that matter to you, your
                business.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="vision-card">
              <img src="../../assets/icons/vision-icon-2.png" alt="icon" />
              <h5>Create Impressive Presentations</h5>
              <p>
                Create visual presentations that are both engaging and
                attractive.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="vision-card">
              <img src="../../assets/icons/vision-icon-3.png" alt="icon" />
              <h5>Huge Icon Collection to Make your pesentation</h5>
              <p>Unlike our competitors we do update our library every week.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="vision-card">
              <img src="../../assets/icons/vision-icon-4.png" alt="icon" />
              <h5>Get Unlimited Free <br />Updates</h5>
              <p>Unlike our competitors we do update our library every week.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
