<section class="unlock-access section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pb-4">
        <div class="unlock-access-heading text-center">
          <h2 class="pb-2">
            Unlock Access. <br />
            6500 Infographics. 80+ Categories.
          </h2>
          <p>The Biggest Bundle in the internet! No Recurring Bills.</p>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1 pt-3">
        <div class="unlock-access-card">
          <div
            class="unlock-access-callToAction d-flex justify-content-between align-items-center"
          >
            <div class="priceHeading">
              <h5>Lifetime access</h5>
              <h1>$10<span>/ year</span></h1>
            </div>
            <button class="btn access-btn" type="submit">
              Buy Now
              <span
                ><img src="../../assets/icons/arrow-right.svg" alt="icon"
              /></span>
            </button>
          </div>
          <div class="unlock-card-features pt-4 px-4 mx-2">
            <h5>Features</h5>
            <div class="unlock-features-item d-md-flex align-items-center">
              <div class="col-md-7 col-lg-6">
                <ul class="m-0">
                  <li>
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#68DBBA" />
                      <path
                        d="M5.3335 7.4667L7.46683 9.60003L11.2002 5.8667"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    <span class="ps-2">1 User</span>
                  </li>
                  <li>
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#68DBBA" />
                      <path
                        d="M5.3335 7.4667L7.46683 9.60003L11.2002 5.8667"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    <span class="ps-2">Commercial License</span>
                  </li>
                  <li>
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#68DBBA" />
                      <path
                        d="M5.3335 7.4667L7.46683 9.60003L11.2002 5.8667"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    <span class="ps-2">3500+ Slides, 80+ Categories</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-5 col-lg-6">
                <ul>
                  <li>
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#68DBBA" />
                      <path
                        d="M5.3335 7.4667L7.46683 9.60003L11.2002 5.8667"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    <span class="ps-2">80+ Categories</span>
                  </li>
                  <li>
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#68DBBA" />
                      <path
                        d="M5.3335 7.4667L7.46683 9.60003L11.2002 5.8667"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    <span class="ps-2">Free Updates</span>
                  </li>
                  <li>
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#68DBBA" />
                      <path
                        d="M5.3335 7.4667L7.46683 9.60003L11.2002 5.8667"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    <span class="ps-2">Free Support</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
