<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>
          Choose from 3500+ Slides in <br />
          80+ Popular Categories
        </h4>
        <p>
          Access thousands of ready-to-use infographic templates with
          attention-grabbing visuals
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let item of items">
        <div class="portfoli-item">
          <div class="img-box">
            <img src="{{ item.img }}" alt="img" class="img-fluid w-100" />
          </div>
          <div class="text-box">
            <h5>{{ item.name }}</h5>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button class="btn access-btn mt-4" type="submit" style="width: 214px">
          View All Templates
          <span
            ><img src="../../assets/icons/arrow-right.svg" alt="icon"
          /></span>
        </button>
      </div>
    </div>
  </div>
</section>
