<div class="buy-today-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-7">
        <div class="buy-today-section-inner">
          <h2 class="pb-3">
            If you buy today you will get
            <span style="color: #ffda00">64000+</span> Free Vector Icons!
          </h2>
          <p class="pb-3">
            Impress your audience visually with The Biggest Presentation Bundle
            in the Internet!
          </p>
          <button class="btn access-btn" type="submit">
            Get Access
            <span
              ><img src="../../assets/icons/arrow-right.svg" alt="icon"
            /></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
