<section class="brand">
  <div class="container">
    <div class="row flex-lg-row flex-sm-column-reverse">
      <div class="col-lg-6 text-box">
        <h4>Change each element to match your brand and vision</h4>
        <p>Fully customizable to create on-brand materials easy</p>
        <button class="btn access-btn" type="submit">
          Get Access
          <span
            ><img src="../../assets/icons/arrow-right.svg" alt="icon"
          /></span>
        </button>
      </div>
      <div class="col-lg-6">
        <div class="img-box">
          <img
            src="../../assets/images/vision-2-bg.png"
            alt="img"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
